
  <div class="card w-50">
    <div class="card-body bg-light">
      <h1 class="card-title text-center text-primary">Editing Task</h1>

      <%= render 'tasks/form', task: @task %>

      <br>

      <%= link_to 'Back', project_path(@task.project_id), class: "btn btn-sm btn-outline-info" %>

    </div>

  </div>


