<div class="container">
  <div class="bp-card mb-5 mx-auto" style="max-width: 700px;">
    <div class="card-body bg-light">
      <h1 class="card-title text-center text-primary">New Project</h1>

      <%= render 'form', project: @project %>

      <br>
      <%= link_to 'Back', projects_path, class: "btn btn-sm btn-outline-info" %>

    </div>

  </div>